<form action="" method="post">    
    Email: <input type="text" name="email" value="ravianrajpoot10@gmail.com"> <br />
    Password: <input type="password" name="password" value="wahaj"> <br />
    <input type="submit" value="Login"> <br />
</form>