/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;

}
.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: auto;
    float: left;
}
.logo img {
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    float: left;
}
.container h1 {
    margin: 0; /* Remove default margin */
    margin-top: -5px; /* Adjust the margin to move the text upwards */
}
.nav{
    overflow: hidden;
}


/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    

}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a i {
    margin-right: 5px;
}

/* Hero Section Styles */
#hero {
    background-image: url('774-7744281_samsung-electronics-samsung-electronic-product-png.png');
    background-size: cover;
    background-position: right;
    color: white;
    text-shadow:3px 3px 5px  black;
    text-align: center;
    padding: 100px 0;
    border: 100px,blue;
}

#hero h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
}

.btn::before {
    content: '';
    background-image: url('774-7744281_samsung-electronics-samsung-electronic-product-png.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    z-index: -1;
}

.btn:hover {
    background-color: #ca2c2c;
}

/* Featured Products Section Styles */
#featured-products {
    background-color: #f9f9f9;
    padding: 50px 0;
}

#featured-products h2 {
    text-align: center;
}


.product-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-card p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #6c757d;
}
