<header>
  <div class="container">
    <div class="logo">
      <img src="/images/logo.png" alt="logo" />
    </div>
    <div>
      <h1>Bismillah Electronics</h1>

      <div class="nav">
        <nav>
          <ul class = "menu">
            <li>
              <a href="/"><i class="fas fa-home"></i> Home</a>
            </li>
            <li>
              <a href="/shop"><i class="fas fa-shopping-cart"></i> Shops</a>
            </li>
            <li>
              <a href="/about"><i class="fas fa-info-circle"></i> About</a>
            </li>
            <li>
              <a href="/contact"><i class="fas fa-envelope"></i> Contact</a>
            </li>
            <li>
              <a href="/products"><i class="fas fa-shopping-cart"></i> Products</a>
            </li>
            <%= console.log(req.session.user) %>
           <% if(!req.session.user){%>
            <li class="login-signup">
              <a href="/login"><button class="button" id="lin">Login</button></a>
              <a href="/register"><button class="button" id="sup">Signup</button></a>
          </li>
          <% } else{ %>
            <li class="login-signup">
              <a ><button class="button" id="lin">Hi, <%= req.session.user.name%></button></a>
              <a ><button class="button" id="sup">Logout</button></a>
          </li>
          <%}%>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
