<form action="" method="post">
    Name: <input type="text" name="name" value="Wahaj"> <br />
    Email: <input type="text" name="email" value="ravianrajpoot10@gmail.com" /> <br />
    Password: <input type="password" name="password" value="wahaj"/> <br />
    <input type="submit" > <br />
</form>