
    

    <section id="hero">
        <div class="container">
            <h2>Welcome to the store</h2>
            <p>Discover amazing products at great prices</p>
            <a href="#" class="btn">Shop Now</a>
        </div>
    </section>

    <section id="featured-products">
        <div class="container">
            <h2>Featured Products</h2>
            <div class="products">
                <div class="product-card">
                    <img src="/images/gree.png" alt="Product 1">
                    <h3>GR-E8890G-CB1/CR1/CP1/CW1 GREE Everest Series Refrigerator </h3>
                    <p>$19.99</p>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
                <div class="product-card">
                    <img src="/images/led.jpg" alt="Product 2">
                    <h3>Changhong Ruba 49 Inch Smart LED TV 49F5908i</h3>
                    <p>$29.99</p>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
                <div class="product-card">
                    <img src="/images/cd70-black-768x384-min.png" alt="Product 3">
                    <h3>Honda CD 70cc 2023 Model</h3>
                    <p>$39.99</p>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
                <div class="product-card">
                    <img src="/images/04-cg125_black__0018_360.png" alt="Product 4">
                    <h3>CG125 Black - Atlas Honda</h3>
                    <p>$49.99</p>
                    <a href="#" class="btn">Add to Cart</a>
                </div>
            </div>
        </div>
    </section>

   