<footer>
    <div class="container">
        <p>&copy; 2024 Bismillah Electrnics. All rights reserved.</p>
    </div>
    <div class="container d-flex">
        <div class="w-50">
            <h3>Product Categories</h3>
            <ul>
                <li><a href="#">Refrigerators</a></li>
                <li><a href="#">Bikes and vehicles</a></li>
                <li><a href="#">Mobile phones</a></li>
                <li><a href="#">Kitchen</a></li>
            </ul>
        </div>
        <div class="w-50">
            <h3>Contact Us</h3>
            <p><i class="fas fa-map-marker-alt"></i> Address: 85-A chungi dogech zarrar shaheed road Lahore Cantt</p>
            <p><i class="fas fa-envelope"></i> Email: alyanali0050@gmail.com</p>
            <p><i class="fas fa-phone"></i> Phone: +923014316455</p>
        </div>
    </div>
</footer>


